<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Discussion Forum</title>
    <link rel="stylesheet" type="text/css" href="about.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-light sticky-top">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="#"><img src="logo.png" width="10%"></a>

        <!-- Links -->
        <ul class="navbar-nav float-right ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact_us">Contact Us</a>
            </li>
        </ul>
    </nav>
    <br>
    <br>
    <br>
    <h1 style="color: green">About Us</h2>
        <br>
        <p> Founded in 2020, Discussion Forum is a trusted and fast growing online community for anyone who needs to learn, share their knowledge, and build their careers.
            <br> Discussion Forum was founded with the sole intention of bringing students together in their times of need, celebration or for help. We are here to help connect students and attempt to help them further their careers. Currently, we are
            at a very early stage of development, but make no mistake, we will shoot to the top quickly. </p>
        <br>
        <br>
        <br>

        <h2 style="color: purple">Where Our Offices Are</h2>
        <p style="text-align: center">
            <img src="offices.jpeg" alt="Workplace" usemap="#workmap" width="400" height="500" display="block" margin-left="auto" margin-right="auto">

            <map name="workmap">
  <area shape="circle" coords="89,270,10" alt="Map" onclick="alert('Tanay Raj\nPune, Maharashtra\ntanay.raj76@gmail.com')">
  <area shape="circle" coords="76,282,9" alt="Map" onclick="alert('Shreyash Mishra\nThane, Maharashtra\nshreyashm1601@gmail.com')">
  <area shape="circle" coords="64,268,9" alt="Map" onclick="alert('Suryavardan Suresh\nMumbai, Maharashtra\nsuryavardan17@gmail.com')">
  <area shape="circle" coords="240,179,13" alt="Map" onclick="alert('Siddharth Pandey\nPatna, Bihar\nsiddharth25pandey@gmail.com')">
  <area shape="circle" coords="245,219,13" alt="Map" onclick="alert('Piyush Kumar\nJamshedpur, Jharkhand\nkumarpiyushsingh9311@gmail.com')">
  <area shape="circle" coords="225,230,11" alt="Map" onclick="alert('Priyam Bajpayi\nBokaro, Jharkhand\nbajpaipriyam90@gmail.com')">
</map>
        </p>

        <br>
        <br>
        <p style="color: orange">Discussion Forum currently employs more than 6 people in its head offices in Sri City(Andhra Pradesh, India) as well as remote workers from Mumbai, Thane, Pune, Patna, Jamshedpur and Bokaro. The company is committed to diversity in the workplace
            and is currently hiring.

        </p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="footer">
            Copyright @ Discussion Forum Platform
        </div>
</body>

</html>