<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Discussion Forum</title>
    <link rel="stylesheet" type="text/css" href="about.css">
</head>

<body>
    <ul>
        <li><a href="/contact_us">Contact Us</a></li>
        <li><a href="/login">Login</a>
            <li><a href="/register">Register</a></li>
            <li><a class="active" href="/about">About</a>
                <li><a href="/">Home</a></li>
    </ul>
    <br>
    <br>
    <br>
    <h2 style="color: orange">Welcome to About.</h2>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="footer">
        Copyright @ Discussion Forum Platform
    </div>
</body>

</html>