<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Contact_Us</title>
  <link rel="stylesheet" type="text/css" href="contact_us.css">
</head>

<body>
  <ul>
    <li><a class="active" href="/contact_us">Contact Us</a></li>
    <li><a href="/register">Register</a></li>
    <li><a href="/about">About</a>
    <li><a href="/">Home</a></li>
  </ul>
  <br>
  <br>



  <div class="container">
    <div class="form">
      <div class="button-box">
        <div id="btn"></div>
        <button type="button" class="toggle-btn">Contact_Us</button>

      </div>
      <div class="social">
        <img src="facebook.png">
        <img src="twitter.png">
        <img src="linkedin.png">
      </div>
      <form action="/action_page.php" class="input-group">
        <input type="text" class="input-field" placeholder="Name" required>
        <input type="email" class="input-field" placeholder="Email-Id" required>
        <input type="text" class="input-field" placeholder="Your Message" required>
        <button type="submit" class="submit-btn">Send</button>
      </form>
    </div>

  </div>


</body>

</html>