<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Discussion Forum</title>
    <link rel="stylesheet" type="text/css" href="contact_us.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-light sticky-top">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="#"><img src="logo.png" width="10%"></a>

        <!-- Links -->
        <ul class="navbar-nav float-right ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/contact_us">Contact Us</a>
            </li>
        </ul>
    </nav>
    <br>
    <br>
    <br>
    <h2 style="color: orange">Welcome to Contact Us.</h2>
    <br>
    <br>

    <form action="/action_page.php">
        <div class="container">
            <h1>Contact Us</h1>
            <p>Please fill this form.</p>
            <hr>
            <label for="name"><b>Your Name</b></label>
            <input type="text" placeholder="Enter Name" name="name" id="name" required>
            <br>
            <br>
            <label for="email"><b>Your Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" id="email" required>
            <label for="message"><b>Your Message </b></label>
            <input type="text" placeholder="Enter Message" required>
            <button type="submit" class="registerbtn">Send</button>
        </div>
    </form>
    <div class="footer">
        Copyright @ Discussion Forum Platform
    </div>
</body>

</html>
