<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Discussion Forum Website , Discussion, Web development, App development, Machine Learning,Data Science, Student, Research, Software Engineering, Internship, SOftware Engineering Internship" />
    <title>Discussion Forum</title>
    <meta name="description" content="Discussion Forum website" />
    <meta name="author" content="Siddharth Pandey" />
    <link rel="stylesheet" type="text/css" href="home_page.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title></title>
    <style>

    </style>
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-light sticky-top">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="#"><img src="logo.png" width="10%"></a>

        <!-- Links -->
        <ul class="navbar-nav float-right ml-auto">
            <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact_us">Contact Us</a>
            </li>
        </ul>
    </nav>

    <br>
    <br>

    <h1>Welcome to Discussion Forum</h1>

    <br>
    <br>
    <br>
    <br>
    <br>
    <img src="image1.png" width="420" height="420" style="float:left"><br><br><br><br><br><br>
    <h2>Student Discussion Forum: A platform to discuss and learn </h2>

    <br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br>
    <img src="image3.jpg" width="650" height="420" style="float:right"><br><br><br><br><br><br>
    <h2>Connect with Students and Mentors Around the World</h2>
    <br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br>
    <img src="image4.png" width="550" height="420" style="float:left"><br><br><br><br><br><br>
    <h2>Mutual Support Lifts You UP!!!!</h2>
    <br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br>
    <img src="image5.jpg" width="675" height="420" style="float:right"><br><br><br><br><br><br>
    <h2>Learn, Practice and Grow with Student Discussion Forum</h2>
    <br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br>
    <br>
    <br>



    <div class="footer">
        Copyright @ Discussion Forum Platform
    </div>

</body>

</html>