<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discussion Forum Website</title>
    <link rel="stylesheet" type="text/css" href="login.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-light sticky-top">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="#"><img src="logo.png" width="10%"></a>

        <!-- Links -->
        <ul class="navbar-nav float-right ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact_us">Contact Us</a>
            </li>
        </ul>
    </nav>

    <div class="container">
        <div class="form">

            <h2>Login Form</h2>


            <div class="social">
                <img src="facebook.png">
                <img src="twitter.png">
                <img src="linkedin.png">
            </div>

            <form action="/login" method="POST" id="login" class="input-group">
                <input type="email" class="input-field" name="email" placeholder="Email-Id" required>
                <input type="password" class="input-field" name="password" placeholder="Password" required>
                <input type="checkbox" class="check-box"><span>Remember Password</span>
                <button type="submit" class="submit-btn">Log In</button>
            </form>
        </div>
    </div>

    <div class="footer">
        Copyright @ Discussion Forum Platform
    </div>
</body>

</html>