header{
    background-image: url("image.jpeg");
    height: 100vh;
    background-size: cover;
    background-position: center;
}
nav {
  background-color: #ccc;
}
body {
  margin:0;
  padding:0;
  background-image: url("image.jpeg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: black;
}
.footer {
    padding: 30px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
    text-decoration-color: black;
}

