header{
    background-image: url("image.jpeg");
    height: 100vh;
    background-size: cover;
    background-position: center;
}
ul {
  list-style-type: none;
  Margin-top:10px;
  Margin-left: 700px;
  padding:0;
  position: fixed;
  top: 0;
  width: 50%;
}

li {
  float: right;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/*
li a:hover, .dropdown:hover .dropbtn {
  /*background-color: red;*/
}
*/
li{
    float: right;
    list-style: none;
    margin-top: 70px;
}

li{
    display: inline-block;
}

li a{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", "sans-serif";
    font-size: 20px;
}

li.active a{
    border: 1px solid white;
    padding: 5px 19px;
}

li a:hover{
    border: 1px solid white;
    padding: 5px 19px;
    /*position: fixed;*/
}

body {
  margin:0;
  padding:0;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("image.jpeg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: black;
}
.active {
  background-color: #4CAF50;
}
.footer {
    padding: 30px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
    text-color: black;
}

