* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-image: url("image.jpeg");
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.container {
    height: 100%;
    width: 100%;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(back.jpg);
    background-position: center;*/
}

.form {
    width: 380px;
    height: 500px;
    position: relative;
    margin: 6% auto;
    background: #ffffff;
    padding: 5px;
    overflow: hidden;
}

.button-box {
    width: 250px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    outline: none;
    border: 0;
    position: relative;
}

h2 {
    color: blue;
    text-align: center;
    font-size: 20px;
    border: dashed chartreuse;
    background-color: #ffad06;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 250px;
    height: 100%;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 30px;
    transition: 0.5s;
    text-align: center;
    color: blue;
    font-size: 20px;
}

.social {
    margin: 30px auto;
    text-align: center;
}

.social img {
    width: 30px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    border-radius: 50%;
}

.input-group {
    top: 180px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #999999;
    outline: none;
    background: transparent;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
}

.check-box {
    margin: 30px 10px 30px 0;
}

span {
    color: #777777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

#login {
    left: 50px;
}

#register {
    left: 450px;
}

ul {
    list-style-type: none;
    Margin-top: 10px;
    Margin-left: 700px;
    padding: 0;
    position: fixed;
    top: 0;
    width: 50%;
}

li {
    float: right;
}

li {
    display: inline-block;
}

li a {
    color: #ffffff;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", "sans-serif";
    font-size: 20px;
}

li.active a {
    border: 1px solid white;
    padding: 5px 19px;
}

li a:hover {
    border: 1px solid white;
    padding: 5px 19px;
    /*position: fixed;*/
}

.active {
    background-color: #ee5610f8;
}

.footer {
    padding: 30px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
    text-color: black;
}